body {
    background-image: url('Images/Design-final/Background.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .brand-logo {
    top: 6px;
  }

/* CEO Message */
.ceo-container {
    width: 1200px; 
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto; 
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
    padding: 20px;
  }
  